<html>
    <head>
        <title>Named Entity Recognition</title>
    </head>
    <body>
        <form action="/ner" id="input_form" data-test-id="input_form" method="post">
            <div>
                <input type="text" id="input_sent" data-test-id="input_sent" name="sentence">
            </div>
            <div>
                <button type="submit" id="submit_btn" data-test-id="submit_btn">Submit</button>
            </div>
        </form>
        <table id="entity_tbl" data-test-id="entity_tbl">
            <thead>
                <tr>
                    <th>Entity</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                {% if ents %}
                    {% for ent in ents %}
                        <tr>
                            <td>{{ ent['entity'] }}</td>
                            <td>{{ ent['label'] }}</td>
                        </tr>
                    {% endfor%}
                {% endif %}
            </tbody>
        </table>
    </body>
</html>