<html>
    <head>
        <title>Named Entity Recognition</title>
    </head>
    <body>
        <form action="" id="input_form" data-test-id="input_form">
            <div>
                <input type="text" id="input_sent" data-test-id="input_sent">
            </div>
            <div>
                <button type="submit" id="submit_btn" data-test-id="submit_btn">Submit</button>
            </div>
        </form>
        <table id="entity_tbl" data-test-id="entity_tbl">
            <thead>
                <th>Entity</th>
                <th>Label</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>