.not-visible {
    display: none;
}

.dz {
    border-style: dashed;
    border-radius: 30px;
    border-color: turquoise;
    transition: .5s;
}

.dz:hover {
    background-color: aliceblue;
}

.avatar-big{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}